/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquotebefore,
blockquoteafter,
qbefore,
qafter {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End Reset */
/* Import Fonts */
@font-face {
    font-family: 'Myriad';
  src: url("../fonts/MYRIADPRO-REGULAR.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'MyriadBold';
  src: url("../fonts/MYRIADPRO-BOLD.woff") format('woff');
  font-weight: bolder;
  font-style: normal;
}

strong,
b {
    font-family: 'MyriadBold';
}
/* Default Page Styles */
header,
main,
article,
nav {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

html {
    box-sizing: border-box;
    font-family: 'Myriad';
    font-weight: normal;
    background-color: #3a3a3a;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 10px 0px 10px rgba(0,0,0,0.25);
}

@media (min-width: 1200px) {
    body {
        border: 1px solid #2c2c2c;
    }
}
/* Main Header Styles */
body > header {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #3a3a3a;
    color: #fff;
    overflow: scroll;
}

body > header ul {
    z-index: 1;
}

body > header ul li {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-sizing: border-box;
}

body > header ul li:nth-child(1) {
    background: url("../img/original/slider01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

body > header ul li:nth-child(2) {
    background: url("../img/original/slider02.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

body > header ul li:nth-child(3) {
    background: url("../img/original/slider03.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

body > header ul li:nth-child(4) {
    background: url("../img/original/slider04.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

body > header ul li:nth-child(5) {
    background: url("../img/original/slider05.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

body > header ul li:nth-child(6) {
    background: url("../img/original/slider06.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

body > header ul li:nth-child(7) {
    background: url("../img/original/slider07.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

body > header ul li:nth-child(8) {
    background: url("../img/original/slider08.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

h1 {
    z-index: 90;
    position: absolute;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background: rgba(255,255,255,0.05);
    margin: 0;
    font-size: 4.5rem;
    text-shadow: 3px 3px 10px #000;
}
/* Main Navigation Styles */
body > nav {
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 3rem;
    background-color: #b0b0b0;
    border-bottom: 1px solid #969696;
}

body > nav button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    padding: 0;
    margin: 0;
    max-height: 2rem;
    height: 2rem;
    max-width: 2rem;
    width: 2rem;
    border-radius: 1rem;
    border: 1px solid #01caca;
    background-color: #10fefe;
    color: #3a3a3a;
    font-family: 'MyriadBold';
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
}

body > nav form {
    -webkit-flex-grow: 4;
    -ms-flex-positive: 4;
    flex-grow: 4;
    display: inline;
    padding-right: 1rem;
}

body > nav form input[type=text] {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 2rem;
    height: 2rem;
    width: 50%;
    border-radius: 1rem;
    border: 1px solid #969696;
    background-color: #10fefe;
    font-size: 0.9rem;
    box-sizing: border-box;
}

body > nav form input[type=text]::-webkit-input-placeholder {
    color: #2c2c2c;
}

body > nav form input[type=text]::-moz-placeholder {
    color: #2c2c2c;
}

body > nav form input[type=text]:-ms-input-placeholder {
    color: #2c2c2c;
}

body > nav form input[type=text]::placeholder {
    color: #2c2c2c;
}

body > nav ul {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

body > nav ul li {
    margin-top: 0.5rem;
    height: 2.5rem;
    line-height: 1.5rem;
    box-sizing: border-box;
    width: 7.5rem;
    margin-right: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    display: inline-block;
    background-color: #10fefe;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border: 1px solid #01e5e5;
    border-bottom: 1px solid #01afaf;
}

body > nav ul li a,
body > nav ul li a:link,
body > nav ul li a:visited,
body > nav ul li a:active {
    color: #2c2c2c;
    text-decoration: none;
    font-size: 1rem;
}

body > nav ul li a:hover,
body > nav ul li a:link:hover,
body > nav ul li a:visited:hover,
body > nav ul li a:active:hover {
    color: #585858;
}
/* Main Content Styles */
body > main {
    background-color: #fff;
    padding: 0;
    margin: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    box-sizing: border-box;
/* Article Viewport */
}

body > main article > section,
body > main main > nav {
    box-sizing: border-box;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
/* Article Viewport */
body > main article {
    box-sizing: border-box;
    width: 70%;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    padding: 0;
    margin: 0;
    -webkit-flex-grow: 8;
    -ms-flex-positive: 8;
    flex-grow: 8;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: space-between;
    -ms-flex-align: space-between;
    align-items: space-between;
}

body > main article section {
    overflow: scroll;
    border-top: 1px solid #d9d9d9;
    box-sizing: border-box;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: none;
}

h2 {
    font-size: 3rem;
    color: #ff5f01;
    padding: 0;
    margin-bottom: 0.75rem;
}

h3 {
    font-size: 2rem;
    color: #ff5f01;
}

p {
    line-height: 1.5em;
    margin-bottom: 1em;
}

img {
    float: right;
    height: 200px;
    height: 200px;
    padding-left: 2em;
    padding-bottom: 1em;
}
/* Content Navigation Styles */
body > main nav {
    border-top: 1px solid #969696;
    border-right: 1px solid #a3a3a3;
    padding: 0;
    margin: 0 auto;
    background-color: #b0b0b0;
}

body > main nav ul {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

body > main nav ul li {
    box-sizing: border-box;
    position: relative;
    background-color: #b0b0b0;
    text-align: center;
}

body > main nav ul li a,
body > main nav ul li a:link,
body > main nav ul li a:visited,
body > main nav ul li a:hover,
body > main nav ul li a:active {
    text-decoration: none;
    color: #3a3a3a;
}

body > main nav ul li.active {
    background-color: #10fefe !important;
}

.active:after,
.arrow:hover:after {
    color: #f00;
    position: absolute;
    display: block;
    top: 0px;
    content: ' ';
    height: 100%;
    box-sizing: border-box;
}

.arrow:hover {
    background-color: #64fefe !important;
    box-sizing: border-box;
}

li:hover {
    cursor: pointer;
    font-size: 1.05rem;
    font-weight: bold;
}

body {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

body nav {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

body header {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

body main {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
}

.lightbox {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85) !important;
    z-index: 200;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    padding: 0;
    margin: 0;
}

.lightbox section.content {
    box-sizing: border-box;
    margin: 10px;
    position: relative;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    border: 1px solid #3a3a3a;
    width: 90%;
    max-height: 90%;
    max-width: 960px;
    padding: 2.5rem;
    background-color: rgba(255,255,255,0.95);
    border-radius: 2.5rem;
}

.lightbox section.content h2 {
    text-align: left;
}

.lightbox section.content h2:first-letter {
    text-transform: capitalize;
}

.lightbox section.content button {
    box-sizing: border-box;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.5rem;
    border-radius: 3rem;
    border-top: 2px solid #585858;
    border-left: 2px solid #585858;
    border-bottom: 2px solid #3a3a3a;
    border-right: 2px solid #3a3a3a;
    color: #3a3a3a;
    background-color: #b0b0b0;
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.lightbox section.content section {
    text-align: left;
    padding: 0 !important;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.lightbox section.content section div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: rows;
    -ms-flex-direction: rows;
    flex-direction: rows;
    padding-top: 1rem;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.lightbox section.content section div address {
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}

.lightbox section.content form {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.lightbox section.content form label {
    font-weight: bold;
    font-size: 1.5rem;
    color: #3a3a3a;
    padding-bottom: 0.25em;
}

.lightbox section.content form input[type=text],
.lightbox section.content form input[type=email],
.lightbox section.content form input[type=submit],
.lightbox section.content form textarea {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 0.5em;
    font-size: 1.25rem;
    line-height: 2em;
    border-radius: 0.5rem;
    border: 2px solid #b0b0b0;
}

.lightbox section.content form input[type=text],
.lightbox section.content form input[type=email],
.lightbox section.content form textarea {
    color: #004343;
}

.lightbox section.content form input[type=text]:active,
.lightbox section.content form input[type=email]:active,
.lightbox section.content form textarea:active,
.lightbox section.content form input[type=text]:focus,
.lightbox section.content form input[type=email]:focus,
.lightbox section.content form textarea:focus {
    border: 2px solid #01caca;
    border-radius: 0.5rem;
    background-color: rgba(16,254,254,0.15);
    outline: none;
}

.lightbox section.content form textarea {
    font-size: 1.25rem;
    line-height: 1.5em;
    min-height: 7.5rem;
    max-height: 15rem;
    resize: vertical;
}

.lightbox section.content form input[type=text],
.lightbox section.content form input[type=email],
.lightbox section.content form input[type=submit] {
    height: 3rem;
}

.lightbox section.content form input[type=submit] {
    border: 2px solid #0bc0c0;
    background-color: #10fefe;
    font-size: 1.5rem;
    height: 3rem;
    line-height: 2.5rem;
    color: #3a3a3a;
}

.lightbox section.content form input[type=submit]:hover {
    font-weight: bold;
    background-color: #4cfefe;
    border: 2px solid #01caca;
}

.lightbox section.content google-map {
    width: 100%;
    border: 1px solid #b0b0b0;
}

@media (max-width: 512px) {
    p {
        letter-spacing: 0.05em;
        line-height: 1.65em;
    }

    img {
        height: 100px;
        width: 100px;
        padding-left: 0.5rem;
        padding-bottom: 0.5rem;
    }

    section.content {
        max-width: 492px;
    }

    .lightbox section.content section div {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .lightbox section.content section div address {
        margin-bottom: 0.5em;
        margin-top: 0em;
    }

    .lightbox section.content section#locationsLightbox {
        height: 25% !important;
        max-height: 25% !important;
        min-height: 25% !important;
    }

    .lightbox section.content google-map {
        height: 70% !important;
        max-height: 70% !important;
        min-height: 70% !important;
    }
}

@media (max-width: 768px) {
    h1 {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    h2 {
        font-size: 2.15rem;
    }

    section.content {
        max-width: 748px;
    }

    body > nav ul {
        position: absolute;
        left: 10px;
        top: 3rem;
        z-Index: 100;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        display: none;
    }

    body > nav ul li {
        border-radius: 0;
        margin: 0;
    }

    body > nav form {
        padding: 0;
        margin: 0;
        max-width: 85%;
    }

    body > nav form input[type=text] {
        margin-left: 10px;
    }
  /* Responsive article nav */
    body > main {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    body > main nav {
        border-right: none;
        padding: 0;
        margin: 0;
    }

    body > main nav ul {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    body > main nav ul li {
        height: 2rem;
        line-height: 2rem;
    }

    body > main > nav > ul > li {
        color: rgba(58,58,58,0);
        background-size: 45px 45px !important;
    }

    body > main > nav > ul > li:nth-child(1) {
        background: url("../img/media/icon-network-01_sm.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    body > main > nav > ul > li:nth-child(2) {
        background: url("../img/media/icon-floppy-01_sm.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    body > main > nav > ul > li:nth-child(3) {
        background: url("../img/media/icon-router-01_sm.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    body > main > nav > ul > li:nth-child(4) {
        background: url("../img/media/icon-settings-01_sm.png");
        background-repeat: no-repeat;
        background-position: center;
    }
  /* Responsive Lightbox */
    .lightbox section.content {
        box-sizing: border-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .lightbox section.content section#locationsLightbox {
        max-height: 8rem;
        height: 8rem;
    }

    .lightbox section.content section {
        overflow: scroll;
        max-height: 85%;
    }

    .lightbox section.content section h3 {
        font-size: 1.5rem;
    }

    .lightbox section.content section div address {
        font-size: 0.95rem;
    }

    .lightbox section.content button {
        font-size: 1rem;
        line-height: 1rem;
        width: 2rem;
        height: 2rem;
        text-align: center;
        padding: 0;
        margin: 0;
        border-radius: 1rem;
    }

    .lightbox section.content section#locationsLightbox {
        height: 25% !important;
        max-height: 25% !important;
        min-height: 25% !important;
    }

    .lightbox section.content google-map {
        height: 70% !important;
        max-height: 70% !important;
        min-height: 70% !important;
    }
}

@media (min-width: 768px) {
    body > nav form input[type=text] {
        width: 100%;
    }

    body > main nav ul li {
        width: 9rem;
        max-width: 9rem;
    }
}

@media (min-height: 1000px) {
    header {
        height: 500px;
        max-height: 500px;
    }

    h1 {
        font-size: 6rem;
    }

    .lightbox section.content section#locationsLightbox {
        height: 18% !important;
        max-height: 18% !important;
        min-height: 18% !important;
    }

    .lightbox section.content google-map {
        height: 75% !important;
        max-height: 75% !important;
        min-height: 75% !important;
    }
}

@media (min-height: 901px) and (max-height: 999px) {
    header {
        height: 350px;
        max-height: 350px;
    }

    h1 {
        font-size: 5rem;
    }

    .lightbox section.content section#locationsLightbox {
        height: 20% !important;
        max-height: 20% !important;
        min-height: 20% !important;
    }

    .lightbox section.content google-map {
        height: 72.5% !important;
        max-height: 72.5% !important;
        min-height: 72.5% !important;
    }
}

@media (min-height: 769px) and (max-height: 900px) {
    header {
        height: 250px;
        max-height: 250px;
    }

    h1 {
        font-size: 4rem;
    }

    .lightbox section.content section#locationsLightbox {
        height: 30% !important;
        max-height: 30% !important;
        min-height: 30% !important;
    }

    .lightbox section.content google-map {
        height: 60% !important;
        max-height: 60% !important;
        min-height: 60% !important;
    }
}

@media (min-height: 601px) and (max-height: 768px) {
    header {
        height: 300px;
        max-height: 300px;
    }

    h1 {
        font-size: 3rem;
    }

    .lightbox section.content section#locationsLightbox {
        height: 35% !important;
        max-height: 35% !important;
        min-height: 35% !important;
    }

    .lightbox section.content google-map {
        height: 55% !important;
        max-height: 55% !important;
        min-height: 55% !important;
    }
}

@media (max-height: 600px) {
    body > header {
        height: 5rem;
        max-height: 5rem;
    }

    h1 {
        font-size: 2.5rem;
        padding-left: 10px;
        padding-right: 10px;
    }

    .lightbox section.content section#locationsLightbox {
        height: 40% !important;
        max-height: 40% !important;
        min-height: 40% !important;
    }

    .lightbox section.content google-map {
        height: 50% !important;
        max-height: 50% !important;
        min-height: 50% !important;
    }
}
