@import 'stylus/reset'
@import 'stylus/mixins'
$gutter = 0.5rem

$foreground = #000
$background = #fff
// Colors
$orange = #ff5f01
$orangeRGB = rgba(255, 95, 1, 1)
$blue = #10fefe
$blueRGB = rgba(16,254, 254, 1)
$lightGrey = #b0b0b0
$lightGreyRGB = rgba(176,175,176,1)
$darkGrey = #3a3a3a
$darkGreyRGB = rgba(58,58,58,1)

/*! Import Fonts */
@import 'stylus/fonts'

/*! Default Page Styles */
header, main, article, nav
	padding-left $gutter
	padding-right $gutter

html 
	box-sizing border-box
	font-family 'Myriad'
	font-weight normal
	background-color $darkGrey
body
	max-width 1200px
	margin 0 auto
	box-shadow: 10px 0px 10px rgba(black, 0.25);

@media (min-width 1200px)
	body
		border 1px solid darken($darkGrey, 25%)

/*! Main Header Styles */
@import 'stylus/header'

/*! Main Navigation Styles */
@import 'stylus/nav'

/*! Main Content Styles */
@import 'stylus/main'

/*! Content Navigation Styles */
@import 'stylus/articleNav'

body 
	display flex
	flex-direction column
	nav
		order 1
	header 
		order 2
	main
		order 3

@import 'stylus/lightbox'

@import 'stylus/media'