<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/google-map/google-map.html">
<dom-module id="network-map">
<style>
</style>
	<template>
		<google-map 
			latitude="-37.843804" 
			longitude="144.970594" 
			style="height: {{height}}px !important;max-height: {{height}}px !important;min-height: {{height}}px !important;"
			draggable 
			fitToMarkers >
			
			<google-map-marker latitude="-37.814774" longitude="144.970594" title="Head Office"></google-map-marker>
			<google-map-marker latitude="-37.818880" longitude="145.122721" title="Box Hill"></google-map-marker>
			<google-map-marker latitude="-37.953672" longitude="145.017920" title="Sandringham"></google-map-marker>
			<google-map-marker latitude="-37.894143" longitude="144.669791" title="Werribee"></google-map-marker>
			<google-map-marker latitude="-37.761678" longitude="144.922369" title="Moonee Ponds"></google-map-marker>
		
		</google-map>
	</template>
<script>
	Polymer ({ is: "network-map" }); 
</script>
