body > main 
	nav
		border-top 1px solid darken($lightGrey, 15%)
		border-right: 1px solid darken($lightGrey, 7.5%)
		padding 0
		margin 0 auto
		background-color $lightGrey
		ul
			margin 0 auto
			width 100%
			height 100%
			display flex
			flex-direction column
			li
				box-sizing border-box
				position: relative;
				background-color $lightGrey
				text-align center
				a, a:link, a:visited, a:hover, a:active
					text-decoration none
					color $darkGrey
			li.active
				background-color #10fefe !important

.active:after, .arrow:hover:after
	color red
	position absolute
	display block
	top 0px
	content: ' '
	height: 100%; 
	box-sizing border-box

.arrow:hover
	background-color lighten(#10fefe, 35%) !important
	box-sizing border-box
li:hover 
	cursor pointer
	font-size 1.05rem
	font-weight bold