
@font-face {
	font-family: 'Myriad';
	src: url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
// @font-face {
// 	font-family: 'Myriad';
// 	src: url('../fonts/MYRIADPRO-COND.woff') format('woff');
// 	font-weight: normal;
// 	font-style: normal;
// 	font-stretch: condensed;
// }
// @font-face {
// 	font-family: 'Myriad';
// 	src: url('../fonts/MYRIADPRO-CONDIT.woff') format('woff');
// 	font-weight: normal;
// 	font-style: italic;
// 	font-stretch: condensed;
// }
// @font-face {
// 	font-family: 'Myriad';
// 	src: url('../fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
// 	font-weight: bold;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Myriad';
// 	src: url('../fonts/MYRIADPRO-SEMIBOLDIT.woff') format('woff');
// 	font-weight: bold;
// 	font-style: italic;
// }

@font-face {
	font-family: 'MyriadBold';
	src url('../fonts/MYRIADPRO-BOLD.woff') format('woff');
	font-weight: bolder;
	font-style: normal;
}
strong, b 
	font-family 'MyriadBold';
// @font-face {
// 	font-family: 'Myriad';
// 	src: url('../fonts/MYRIADPRO-BOLDIT.woff') format('woff');
// 	font-weight: bolder;
// 	font-style: italic;
// }

// @font-face {
// 	font-family: 'Myriad';
// 	src: url('../fonts/MYRIADPRO-BOLDCOND.woff') format('woff');
// 	font-weight: bolder;
// 	font-stretch: condensed;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Myriad';
// 	src: url('../fonts/MYRIADPRO-BOLDCONDIT.woff') format('woff');
// 	font-weight: bolder;
// 	font-style: italic;
// 	font-stretch: condensed;
// }
