body > header 
	box-sizing border-box
	position relative
	margin 0
	padding 0
	background-color $darkGrey
	color white
	overflow scroll
	ul
		z-index 1
		li
			position absolute
			top 0
			bottom 0
			right 0
			left 0
			box-sizing border-box
			&:nth-child(1)
				background url(../img/original/slider01.jpg)
				background-repeat no-repeat
				background-position center
				background-size 100% 100%
			&:nth-child(2)
				background url(../img/original/slider02.jpg)
				background-repeat no-repeat
				background-position center
				background-size 100% 100%
			&:nth-child(3)
				background url(../img/original/slider03.jpg)
				background-repeat no-repeat
				background-position center
				background-size 100% 100%
			&:nth-child(4)
				background url(../img/original/slider04.jpg)
				background-repeat no-repeat
				background-position center
				background-size 100% 100%
			&:nth-child(5)
				background url(../img/original/slider05.jpg)
				background-repeat no-repeat
				background-position center
				background-size 100% 100%
			&:nth-child(6)
				background url(../img/original/slider06.jpg)
				background-repeat no-repeat
				background-position center
				background-size 100% 100%
			&:nth-child(7)
				background url(../img/original/slider07.jpg)
				background-repeat no-repeat
				background-position center
				background-size 100% 100%
			&:nth-child(8)
				background url(../img/original/slider08.jpg)
				background-repeat no-repeat
				background-position center
				background-size 100% 100%
h1
	z-index 90
	position absolute
	width 100%
	padding-left 1.5rem
	padding-right 1.5rem
	padding-top 1.5rem
	padding-bottom 1.5rem
	background rgba(white, 0.05)
	margin 0
	font-size 4.5rem
	text-shadow: 3px 3px 10px rgba(0, 0, 0, 1);