.lightbox
	position fixed
	display block
	top 0
	left 0
	width 100%
	height 100%
	background-color rgba(black, 0.85) !important
	z-index 200
	display flex
	flex-direction column
	justify-content center
	align-items center
	align-content space-around
	padding 0
	margin 0
	section.content
		box-sizing border-box
		margin 10px
		position relative
		align-self center
		border 1px solid $darkGrey
		width 90%
		max-height 90%
		max-width 960px
		padding 2.5rem
		background-color rgba(white, 0.95)
		border-radius 2.5rem
		h2 
			text-align left
			&:first-letter
				text-transform capitalize
		button 
			box-sizing border-box
			text-align center
			font-size 1.5rem
			line-height 2.5	rem
			border-radius 3rem
			border-top 2px solid lighten($darkGrey, 15%)
			border-left 2px solid lighten($darkGrey, 15%)
			border-bottom 2px solid $darkGrey
			border-right 2px solid $darkGrey
			color $darkGrey
			background-color $lightGrey
			position absolute
			width 4rem 
			height 4rem
			top 1rem
			right 1rem
			cursor pointer
		section 
			text-align left
			padding 0 !important
			margin-top 1.5rem !important
			margin-bottom 1.5rem !important
			div
				display:flex
				flex-direction: rows
				padding-top:1rem
				justify-content space-between
				address
					flex-grow:2;
		form
			box-sizing border-box
			display flex
			flex-direction column
			label 
				font-weight bold
				font-size 1.5rem
				color $darkGrey
				padding-bottom 0.25em
			input[type=text], input[type=email], input[type=submit], textarea
				box-sizing border-box
				width 100%
				max-width 100%
				padding-left 0.5rem
				padding-right 0.5rem
				margin-bottom 0.5em
				font-size 1.25rem
				line-height 2em
				border-radius 0.5rem
				border 2px solid $lightGrey
			input[type=text], input[type=email], textarea
				color darken($blue, 75%)
				&:active, &:focus
					border 2px solid darken($blue, 25%)
					border-radius 0.5rem
					background-color rgba($blue,0.15)
					outline none
			textarea
				font-size 1.25rem
				line-height 1.5em
				min-height 4 * (1.25 * 1.5) * 1rem
				max-height 8 * (1.25 * 1.5) * 1rem
				resize vertical
			input[type=text], input[type=email], input[type=submit]
				height 3rem
			input[type=submit]
				border 2px solid darken(desaturate($blue, 10%), 25%)
				background-color $blue
				font-size 1.5rem
				height 3rem
				line-height 2.5rem
				color $darkGrey
				&:hover
					font-weight bold
					background-color lighten($blue, 25%)
					border 2px solid darken($blue, 25%)
					
				
.lightbox
	section.content
		google-map
			width 100%
			border 1px solid $lightGrey

lightboxMedia(25%, 65%)