body > main 
	background-color white
	padding 0
	margin 0
	display flex
	flex-direction row
	box-sizing border-box
	article > section, main > nav
		box-sizing border-box
		padding-top 3 * $gutter
		padding-bottom 3 * $gutter
	/*! Article Viewport */
	article
		box-sizing border-box
		width 70%
		order 2
		padding 0
		margin 0
		flex-grow 8
		display flex
		flex-direction column
		align-items space-between
		section
			overflow scroll
			border-top 1px solid darken(white, 15%)
			box-sizing border-box
			flex-grow 1
			display none
h2 
	font-size 3rem
	color $orange
	padding 0
	margin-bottom 0.75rem
h3
	font-size 2rem
	color $orange
p
	line-height 1.5em
	margin-bottom 1	em
	// letter-spacing 0.01em
img
	float right
	height 200px
	height 200px
	padding-left 2em
	padding-bottom 1em
