@media (max-width 512px)
	p
		letter-spacing 0.05em
		// font-size 1.2rem
		line-height 1.65em
	img 
		height 100px
		width 100px
		padding-left 0.5rem
		padding-bottom 0.5rem
	section.content
		max-width 492px
	.lightbox
		section.content
			section 
				div
					flex-direction: column
					address
						margin-bottom 0.5em
						margin-top 0em
	googleMapMedia(25%, 70%)
@media (max-width 768px)
	h1
		padding-left 2rem
		padding-right 2rem
	h2
		font-size 2.15rem  	    
	section.content
		max-width 748px
	body > nav
		ul
			position absolute
			left 10px
			top 3rem
			z-Index 100
			flex-direction column
			display none
			li
				border-radius 0
				margin 0
		form 
			padding 0
			margin 0
			max-width 85%
			input[type=text]
				margin-left 10px
	/*! Responsive article nav */
	body > main 
		flex-direction column
		nav
			border-right: none
			padding 0
			margin 0
			ul
				display flex
				flex-direction row
				li 
					height 2rem
					line-height 2rem
	body > main > nav > ul > li
		color rgba($darkGrey, 0)
		&:nth-child(1)
			background url(../img/media/icon-network-01_sm.png)
			background-repeat no-repeat
			background-position center
		&:nth-child(2)
			background url(../img/media/icon-floppy-01_sm.png)
			background-repeat no-repeat
			background-position center
		&:nth-child(3)
			background url(../img/media/icon-router-01_sm.png)
			background-repeat no-repeat
			background-position center
		&:nth-child(4)
			background url(../img/media/icon-settings-01_sm.png)
			background-repeat no-repeat
			background-position center
		background-size 45px 45px !important 
	
	/*! Responsive Lightbox */
	.lightbox
		section.content
			box-sizing border-box
			display flex
			flex-direction column
			section#locationsLightbox
				max-height 8rem
				height 8rem
			section 
				overflow scroll
				max-height 85%
				h3
					font-size 1.5rem
				div
					address
						font-size 0.95rem
			button 
				font-size 1rem
				line-height 1rem
				width 2rem
				height 2rem
				text-align center
				padding 0
				margin 0
				border-radius 1rem
	googleMapMedia(25%, 70%)

@media (min-width 768px)
	body > nav 
		form
			input[type=text]
				width 100%
	body > main 
		nav
			ul
				li
					width 9rem
					max-width 9rem

@media (min-height 1000px)
	header
		height 500px;
		max-height 500px;
	h1
		font-size 6rem
	googleMapMedia(18%, 75%)

@media (min-height 901px) and (max-height 999px)
	header
		height 350px;
		max-height 350px;
	h1
		font-size 5rem
	googleMapMedia(20%, 72.5%)
@media (min-height 769px) and (max-height 900px)
	header
		height 250px;
		max-height 250px;
	h1
		font-size 4rem
	googleMapMedia(30%, 60%)					
@media (min-height 601px) and (max-height 768px)
	header
		height 300px;
		max-height 300px;
	h1
		font-size 3rem
	googleMapMedia(35%, 55%)					
@media (max-height 600px)
	body > header
		height 5rem
		max-height 5rem;
	h1 
		font-size 2.5rem
		padding-left 10px
		padding-right 10px
	googleMapMedia(40%, 50%)