googleMapMedia($sectionHeight, $mapHeight)
	.lightbox
		section.content
			section#locationsLightbox
				height $sectionHeight !important
				max-height $sectionHeight !important
				min-height $sectionHeight !important
			google-map
				height $mapHeight !important
				max-height $mapHeight !important
				min-height $mapHeight !important