body > nav
	position relative
	padding 0
	margin 0
	box-sizing border-box
	width 100%
	display flex
	justify-content space-between
	flex-direction row
	height 3rem
	background-color $lightGrey
	border-bottom 1px solid darken($lightGrey, 15%)
	button
		position absolute 
		right 0.5rem
		top 0.5rem
		padding 0
		margin 0
		max-height 2rem
		height 2rem
		max-width 2rem
		width 2rem
		border-radius 1rem
		border 1px solid darken($blue, 25%)
		background-color $blue
		color $darkGrey
		font-family 'MyriadBold'
		font-size 1.5rem
		line-height 2rem
		text-align center
	form
		// background-color red
		flex-grow 4 
		display inline
		padding-right 1rem
		input[type=text]
			margin-left 0.5rem
			margin-top 0.5rem
			margin-bottom 0.5rem
			padding-left 1rem
			padding-right 1rem
			line-height 2rem
			height 2rem
			width 50%
			border-radius 1rem
			border 1px solid darken($lightGrey, 15%)
			background-color $blue
			font-size 0.9rem
			box-sizing border-box
			&::placeholder
				color darken($darkGrey, 25%)
	ul
		box-sizing border-box
		display flex
		justify-content space-between
		li
			margin-top 0.5rem
			height 2.5rem
			line-height 1.5rem
			box-sizing border-box
			width 7.5rem
			margin-right 5px
			padding-top 0.5rem
			padding-bottom 0.5rem
			text-align center
			display inline-block
			background-color $blue
			border-top-left-radius 0.5rem
			border-top-right-radius 0.5rem
			border 1px solid darken($blue, 15%)
			border-bottom 1px solid darken($blue, 35%)
			a, a:link, a:visited, a:active
				color darken($darkGrey, 25%)
				text-decoration none
				font-size 1rem
				&:hover
					color lighten($darkGrey, 15%)